/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 24, 2015, 3:11:36 PM
    Author     : tomaszkostro
*/
body {
  font-family: "HelveticaNeueUltraLight", "HelveticaNeue-Ultra-Light", "Helvetica Neue Ultra Light", "HelveticaNeue", "Helvetica Neue", "TeXGyreHerosRegular", "Arial", sans-serif;
  font-size: 16px;
  margin: 0;
  font-weight: 100; }

h1, h2, h3, h4, h5 {
  font-family: "HelveticaNeueUltraLight", "HelveticaNeue-Ultra-Light", "Helvetica Neue Ultra Light", "HelveticaNeue", "Helvetica Neue", "TeXGyreHerosRegular", "Arial", sans-serif;
  font-weight: 100; }

h2 {
  font-size: 32px; }

.yellow {
  color: #ffc923; }

.clearboth {
  clear: both; }

header {
  position: fixed;
  top: 220px;
  right: 20px;
  z-index: 99; }
  header ul {
    list-style: none;
    padding-left: 0; }
    header ul li a {
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      display: block;
      width: 16px;
      height: 16px;
      background-color: #ddd;
      margin: 10px;
      outline: 0; }
      header ul li a:hover, header ul li a:active, header ul li a:focus {
        outline: 0; }
    header ul li a.active {
      background-color: #ffc923; }
    header ul li:nth-child(7) a.active {
      background-color: #0080ff; }

.slide {
  height: 800px;
  position: relative;
  margin: 0 auto;
  width: 100%; }

#cloud {
  position: absolute;
  left: 50%;
  margin-left: -180px; }
  #cloud svg {
    width: 360px;
    margin: 0 auto;
    display: block;
    position: absolute;
    z-index: 99; }
  #cloud .hide-cloud-circle1 {
    width: 170px;
    height: 170px;
    position: absolute;
    top: 205px;
    left: 65px;
    border-radius: 50%;
    background-color: #fff;
    z-index: 5; }
  #cloud .hide-cloud-circle2 {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 210px;
    left: 160px;
    border-radius: 50%;
    background-color: #fff;
    z-index: 5; }

.number-cols {
  width: 275px;
  height: 220px;
  display: block;
  position: relative;
  overflow: hidden;
  top: 330px;
  left: 50%;
  margin-left: -62px; }

.number-col {
  text-align: center;
  position: absolute;
  float: left;
  width: 25px;
  top: 0;
  /* @include transition-linear(all, 1s); */ }
  .number-col span {
    display: block;
    line-height: 18px; }
  .number-col.first {
    left: 0; }
    .number-col.first span {
      line-height: 17px; }
  .number-col.second {
    left: 25px; }
  .number-col.third {
    left: 50px; }
    .number-col.third span {
      line-height: 20px; }
  .number-col.fourth {
    left: 75px; }
  .number-col.fifth {
    left: 100px; }
    .number-col.fifth span {
      line-height: 17px; }
  .number-col.sixth {
    left: 125px; }
  .number-col.seventh {
    left: 150px; }
  .number-col.eighth {
    left: 175px; }
    .number-col.eighth span {
      line-height: 17px; }
  .number-col.ninth {
    left: 200px; }
  .number-col.tenth {
    left: 225px; }
    .number-col.tenth span {
      line-height: 20px; }
  .number-col.eleventh {
    left: 250px; }
  .number-col.next {
    top: 220px; }

/* .top-background {
	position: relative;
}
.top-title {
	position: absolute;
	top:0;
	left:55px;
	text-align:center;
	h2 {
		color:$color-blue;
		margin-top:20px;
	}
} */
.page-description {
  padding-top: 400px;
  text-align: center; }
  .page-description ul {
    list-style: none;
    padding-left: 0; }
    .page-description ul li {
      color: #0080ff;
      font-size: 24px; }

.scheme-1st-party {
  width: 400px;
  padding-left: 266.66667px;
  margin: 0 auto;
  display: block;
  float: left; }
  .scheme-1st-party .icon-first svg {
    width: 120px;
    margin-left: 50px; }
  .scheme-1st-party .icon-second {
    margin-left: 75px;
    position: relative; }
    .scheme-1st-party .icon-second .number-col {
      margin-top: 0; }
      .scheme-1st-party .icon-second .number-col span {
        font-size: 13.71425px;
        line-height: 16px; }
  .scheme-1st-party .icon-third {
    position: absolute;
    top: 505px;
    z-index: 9; }
    .scheme-1st-party .icon-third svg {
      width: 130px;
      margin-left: 53px; }

.desc-1st-party, .scheme-3rd-party {
  width: 800px;
  display: block;
  float: left; }

.desc-1st-party {
  padding-left: 100px; }

.desc-3rd-party {
  width: 400px;
  float: left; }

@media screen and (max-width: 1280px) {
  .scheme-1st-party, .desc-3rd-party {
    width: 320px; }

  .desc-1st-party, .scheme-3rd-party {
    width: 640px; } }
@media screen and (max-width: 980px) {
  .scheme-1st-party, .desc-3rd-party {
    width: 266.66667px; }

  .desc-1st-party, .scheme-3rd-party {
    width: 533.33333px; } }
/* .top-on-bottom {
	.top-background {
		position: absolute;
		right:0;
		top:$page-height - 160px;
	}
	.top-title {
		left:inherit;
		right:90px;
		h2{
			color:#fff;
			margin-top:30px;
		}
	}
}
.top-background {
	svg {
		width: 50%;
		height:160px;
	}
} */
.full-background {
  min-width: 100%;
  height: 800px;
  clear: both;
  position: absolute;
  z-index: -1; }
  .full-background.blue {
    background-color: #0080ff; }
  .full-background.yellow {
    background-color: #ffc923; }

.top, .top-on-bottom {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 160px 480px 0 120px;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  z-index: 5; }
  .top .top-title, .top-on-bottom .top-title {
    position: absolute;
    width: 300px;
    text-align: center;
    top: 0;
    left: 0;
    margin-top: -150px;
    margin-left: -75px; }
  .top.gray, .top-on-bottom.gray {
    border-color: #ddd transparent transparent; }
    .top.gray h2, .top-on-bottom.gray h2 {
      color: #0080ff; }
  .top.blue, .top-on-bottom.blue {
    border-color: #0080ff transparent transparent; }
    .top.blue h2, .top-on-bottom.blue h2 {
      color: #fff; }
  .top.white, .top-on-bottom.white {
    border-color: #fff transparent transparent; }
    .top.white h2, .top-on-bottom.white h2 {
      color: #0080ff; }
  .top.yellow, .top-on-bottom.yellow {
    border-color: #ffc923 transparent transparent; }
    .top.yellow h2, .top-on-bottom.yellow h2 {
      color: #fff; }

.top {
  left: 0;
  top: 0; }

.top-on-bottom {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-top: -160px;
  bottom: 0;
  right: 0; }
  .top-on-bottom .top-title {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    margin-top: -160px;
    margin-left: -100px; }

.top-border {
  margin-left: -8px; }

#slide4 .top-title, #slide10 .top-title {
  margin-left: -110px; }

#slide4 .main-container img {
  width: 666px;
  margin-top: 25px; }

#slide5 .main-container {
  padding-top: 220px; }
#slide5 .icon {
  text-align: center;
  height: 150px; }
  #slide5 .icon svg {
    width: 150px; }
#slide5 #Layer_4 {
  margin-top: 15px; }

#slide6 .top-title {
  margin-left: -120px; }
#slide6 .icon {
  margin-top: 70px;
  text-align: center;
  height: 150px; }
  #slide6 .icon svg {
    height: 150px; }

#slide7 .top-title {
  margin-left: -90px; }
  #slide7 .top-title h2 {
    color: #ffc923; }
#slide7 #user-scheme {
  position: relative;
  top: 30px;
  width: 900px;
  margin: 0 auto;
  display: block; }
  #slide7 #user-scheme .circle {
    position: absolute;
    border: 7px solid #fff;
    border-radius: 50%;
    background-color: #ffc923;
    z-index: 2;
    cursor: default;
    transition: all 0.7s ease-in-out;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out; }
    #slide7 #user-scheme .circle.main {
      width: 200px;
      height: 200px;
      left: 50%;
      margin-left: -100px;
      top: 100px;
      background-color: #ffc923;
      z-index: 9; }
      #slide7 #user-scheme .circle.main svg {
        width: 150px;
        padding-top: 60px;
        display: block;
        margin: 0 auto; }
    #slide7 #user-scheme .circle.chover {
      color: #ffc923;
      background-color: #fff; }
    #slide7 #user-scheme .circle .icon-desc {
      font-size: 2rem;
      color: #fff;
      text-align: center;
      padding-top: 40px; }
      #slide7 #user-scheme .circle .icon-desc.number {
        display: none;
        color: #ffc923;
        font-size: 4rem;
        position: absolute;
        text-align: center;
        width: 100%;
        top: 22px; }
    #slide7 #user-scheme .circle.first, #slide7 #user-scheme .circle.fourth {
      width: 150px;
      height: 150px; }
    #slide7 #user-scheme .circle.second, #slide7 #user-scheme .circle.third, #slide7 #user-scheme .circle.fifth, #slide7 #user-scheme .circle.sixth {
      width: 120px;
      height: 120px; }
    #slide7 #user-scheme .circle.first {
      top: 180px;
      left: 20px; }
      #slide7 #user-scheme .circle.first .icon-desc {
        padding-top: 50px; }
      #slide7 #user-scheme .circle.first:hover {
        margin-left: -20px; }
    #slide7 #user-scheme .circle.second {
      left: 260px; }
      #slide7 #user-scheme .circle.second:hover {
        margin-top: -15px;
        margin-left: -15px; }
    #slide7 #user-scheme .circle.third {
      left: 600px;
      top: -10px; }
      #slide7 #user-scheme .circle.third .icon-desc {
        padding-top: 23px; }
      #slide7 #user-scheme .circle.third:hover {
        margin-top: -15px;
        margin-left: +15px; }
    #slide7 #user-scheme .circle.fourth {
      left: 700px;
      top: 95px; }
      #slide7 #user-scheme .circle.fourth:hover {
        margin-left: +20px; }
    #slide7 #user-scheme .circle.fifth {
      left: 570px;
      top: 250px; }
      #slide7 #user-scheme .circle.fifth:hover {
        margin-top: +15px;
        margin-left: +15px; }
    #slide7 #user-scheme .circle.sixth {
      left: 260px;
      top: 290px; }
      #slide7 #user-scheme .circle.sixth:hover {
        margin-top: +15px;
        margin-left: -15px; }
  #slide7 #user-scheme .line {
    border-top: 3px dashed #fff;
    position: absolute; }
    #slide7 #user-scheme .line.first {
      width: 600px;
      top: 210px;
      left: 150px;
      -webkit-transform: rotate(-8deg);
      -moz-transform: rotate(-8deg);
      -ms-transform: rotate(-8deg);
      transform: rotate(-8deg); }
    #slide7 #user-scheme .line.second {
      width: 400px;
      -webkit-transform: rotate(40deg);
      -moz-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
      transform: rotate(40deg);
      left: 290px;
      top: 200px; }
    #slide7 #user-scheme .line.third {
      width: 400px;
      -webkit-transform: rotate(140deg);
      -moz-transform: rotate(140deg);
      -ms-transform: rotate(140deg);
      transform: rotate(140deg);
      left: 290px;
      top: 200px; }

#arrows .arrow {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #ddd;
  cursor: pointer;
  position: absolute; }
  #arrows .arrow svg {
    width: 60px;
    display: block;
    margin: 0 auto;
    padding-top: 15px; }
  #arrows .arrow.left {
    top: 320px;
    left: 30px; }
  #arrows .arrow.right {
    top: 320px;
    right: 60px; }

.dots {
  position: absolute;
  left: 50%;
  width: 300px;
  margin-left: -150px;
  bottom: 50px;
  text-align: center; }
  .dots ul {
    padding: 0; }
    .dots ul li {
      width: 16px;
      height: 16px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      display: inline-block;
      background-color: #ddd;
      margin: 0 5px;
      cursor: pointer; }
      .dots ul li.active {
        background-color: #0080ff; }

#slideshow {
  overflow: hidden; }
  #slideshow #sliders {
    width: 3600px; }
    #slideshow #sliders .slider {
      height: 500px;
      width: 1200px;
      display: table-cell;
      vertical-align: middle;
      float: left;
      padding-top: 100px; }
      #slideshow #sliders .slider .logo {
        text-align: center;
        width: 400px; }
        #slideshow #sliders .slider .logo img {
          width: 200px; }
      #slideshow #sliders .slider .articles {
        width: 800px; }
  @media screen and (max-width: 1280px) {
    #slideshow .slider {
      width: 960px; } }
  @media screen and (max-width: 980px) {
    #slideshow .slider {
      width: 800px; } }

#slide11 .top-title {
  text-align: left;
  font-size: 12.0003px;
  width: 200px;
  line-height: 14.76928px; }

#map-canvas {
  position: relative;
  height: 100%;
  margin: 0px;
  padding: 0px; }

#contact {
  position: absolute;
  top: 0;
  right: 0;
  width: 45%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8); }
  #contact img {
    margin: 30px auto 0;
    display: block;
    width: 250px; }
  #contact #contactForm {
    margin: 20px 10%; }
    #contact #contactForm input, #contact #contactForm textarea {
      width: 90%;
      display: block;
      margin: 7px 0;
      border: 1px solid #ffc923;
      padding: 3px; }
    #contact #contactForm textarea {
      height: 120px; }

.main-container {
  width: 1200px;
  margin: 0 auto;
  display: block;
  padding-top: 180px; }

@media screen and (max-width: 1280px) {
  .main-container {
    width: 960px; } }
@media screen and (max-width: 980px) {
  .main-container {
    width: 800px; } }
.text-blue {
  color: #0080ff; }

.text-white {
  color: #fff; }

.text-center {
  text-align: center; }

.text-arrow {
  text-align: center;
  line-height: 8px; }

#slide9 .left {
  padding-top: 180px;
  width: 50%;
  background: #fff url("../img/bgstripes2.png") repeat 0 0;
  height: 100%;
  float: left;
  padding-left: 90px; }
  #slide9 .left .circle {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden; }
    #slide9 .left .circle img {
      width: 250px; }
  #slide9 .left .left-text {
    width: 300px; }
    #slide9 .left .left-text h3 {
      line-height: 32px; }
#slide9 .center {
  background-color: #fff;
  padding-top: 100px;
  width: 20%;
  -webkit-transform: skewX(14deg);
  -moz-transform: skewX(14deg);
  -ms-transform: skewX(14deg);
  transform: skewX(14deg);
  height: 100%;
  float: left;
  margin-left: -100px;
  border-right: 1px dashed #000; }
  #slide9 .center ul {
    -webkit-transform: skewX(-14deg);
    -moz-transform: skewX(-14deg);
    -ms-transform: skewX(-14deg);
    transform: skewX(-14deg);
    list-style: none;
    padding-left: 0; }
    #slide9 .center ul li {
      margin: 70px auto; }
      #slide9 .center ul li img {
        width: 60%; }
      #slide9 .center ul li:nth-child(2) img {
        margin-left: 25px; }
      #slide9 .center ul li:nth-child(3) img {
        margin-left: 55px; }
      #slide9 .center ul li:nth-child(4) img {
        margin-left: 70px;
        width: 80%; }
#slide9 .right {
  padding-top: 80px;
  float: left; }
  #slide9 .right ul {
    list-style: none;
    padding-left: 0; }
    #slide9 .right ul li {
      padding: 30px 0; }
      #slide9 .right ul li .icon {
        float: left;
        margin-right: 10px; }
        #slide9 .right ul li .icon img {
          width: 90px; }
      #slide9 .right ul li .number {
        font-size: 32px;
        display: block;
        line-height: 32px; }
      #slide9 .right ul li:nth-child(2) {
        margin-left: 30px; }
      #slide9 .right ul li:nth-child(3) {
        margin-left: 60px; }
        #slide9 .right ul li:nth-child(3) .icon img {
          width: 95px; }
      #slide9 .right ul li:nth-child(4) {
        margin-left: 90px; }
        #slide9 .right ul li:nth-child(4) .icon img {
          width: 107px; }
      #slide9 .right ul li:nth-child(5) {
        margin-left: 120px; }
        #slide9 .right ul li:nth-child(5) .icon img {
          width: 105px; }

.full-size-container {
  width: 100%;
  height: 800px; }

#isotop {
  padding-top: 25px; }
  #isotop .item {
    background-color: #fff;
    height: 150px;
    border: 1px dashed #000;
    display: block;
    float: left; }
    #isotop .item img {
      width: 200px; }
    #isotop .item.w1 img {
      width: 250px; }
    #isotop .item.w2 img {
      width: 300px; }
    #isotop .item.red {
      background-color: #ed2c22; }
    #isotop .item.blue {
      background-color: #0080ff; }
    #isotop .item.navy-blue {
      background-color: #060fbc; }
  #isotop #morePartners {
    border: 1px dashed #000;
    text-align: center;
    font-size: 3rem;
    width: 100%;
    display: inline-block;
    padding: 10px 0;
    cursor: pointer; }

#sprocket img {
  width: 75px;
  position: absolute;
  left: 64px;
  top: 58px;
  transition: transform 60s linear;
  -moz-transition: transform 60s linear;
  -webkit-transition: transform 60s linear;
  opacity: 0; }
  #sprocket img.sprocket-rotate {
    -webkit-transform: rotate(14400deg);
    -moz-transform: rotate(14400deg);
    -ms-transform: rotate(14400deg);
    transform: rotate(14400deg);
    opacity: 1; }

/*# sourceMappingURL=style.css.map */
