/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 24, 2015, 3:11:36 PM
    Author     : tomaszkostro
*/

$font-type : "HelveticaNeueUltraLight", "HelveticaNeue-Ultra-Light", "Helvetica Neue Ultra Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Arial", sans-serif;
$page-height : 800px;
$page-width :100%;
$color-blue : #0080ff;
$color-yellow : #ffc923;
$color-gray : #ddd;
$font-size : 16px; 
$color-white : #fff; 
$light-weight : 100;
$top-number-margin : 195px;

$container-width : 1200px;
$break-point1 : 960px;
$break-point2: 800px;


@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}
@mixin rotate($deg) {
	-webkit-transform: rotate($deg);
	-moz-transform: rotate($deg);
	-ms-transform: rotate($deg);
	transform: rotate($deg);
}
@mixin skewX($deg) {
	-webkit-transform: skewX($deg);
	-moz-transform: skewX($deg);
	-ms-transform: skewX($deg);
	transform: skewX($deg);
}
@mixin bgstripes {
	background: #fff url("../img/bgstripes2.png") repeat 0 0;
}
@mixin transition-ease-in-out($time) {
	transition: all $time ease-in-out; 
	-webkit-transition: all $time ease-in-out; 
	-moz-transition: all $time ease-in-out; 
	-ms-transition: all $time ease-in-out; 
}
@mixin transition-linear($elem, $time) {
	transition: $elem $time linear; 
	-webkit-transition: $elem $time linear; 
	-moz-transition: $elem $time linear; 
	-ms-transition: $elem $time linear; 
}


body {
	font-family:$font-type;
	font-size:$font-size;
	margin:0;
	font-weight:$light-weight;
}
h1, h2, h3, h4, h5 {
	font-family:$font-type;
	font-weight:$light-weight;
}
h2 {
	font-size:$font-size * 2;
}
.yellow {
	color: $color-yellow;
}
.clearboth {
	clear: both;
}
header {
	position:fixed;
	top:($page-height/2) - 180px;
	right:20px;
	z-index:99;
	ul{
		list-style: none;
		padding-left:0;
		li {
			a{
				@include border-radius(50%);
				display: block;
				width:16px;
				height:16px;
				background-color: $color-gray;
				margin:10px;
				outline: 0;
				&:hover, &:active, &:focus {
					outline: 0;
				}
			}
			a.active {
				background-color: $color-yellow;
			}
			&:nth-child(7) a.active {
				background-color: $color-blue;
			}
		}
	}
}
.slide {
	height: $page-height;
	position: relative;
	margin:0 auto;
	width:$page-width;
}
#cloud {
	position:absolute;
	left:50%;
	margin-left:-180px;
	svg {
		width:360px;
		margin: 0 auto;
		display:block;
		position:absolute;
		z-index:99;
	}
	.hide-cloud-circle1 {
		width:170px;
		height:170px;
		position: absolute;
		top:205px;
		left:65px;
		border-radius:50%;
		background-color:#fff;
		z-index:5;
	}
	.hide-cloud-circle2 {
		width:150px;
		height:150px;
		position: absolute;
		top:210px;
		left:160px;
		border-radius:50%;
		background-color:#fff;
		z-index:5;
	}
}

.number-cols {
	width: 275px;
	height:220px;
	display:block;
	position: relative;
	overflow: hidden;
	top:330px;
	left:50%;
	margin-left:-62px;
}
.number-col {
	text-align:center;
	position:absolute;
	float:left;
	width: 25px;
	top:0;
	/* @include transition-linear(all, 1s); */
	span {
		display:block;
		line-height: 18px;
	}
	&.first {
		left:0;
		& span {
			line-height:17px;
		}
	}
	&.second {
		left:25px;
	}
	&.third {
		left:50px;
		& span {
			line-height:20px;
		}
	}
	&.fourth {
		left:75px;
	}
	&.fifth {
		left:100px;
		& span {
			line-height:17px;
		}
	}
	&.sixth {
		left:125px;
	}
	&.seventh {
		left:150px;
	}
	&.eighth {
		left:175px;
		& span {
			line-height:17px;
		}
	}
	&.ninth {
		left:200px;
	}
	&.tenth {
		left:225px;
		& span {
			line-height:20px;
		}
	}
	&.eleventh {
		left:250px;
	}
	&.next {
		top:220px;
	}
}

/* .top-background {
	position: relative;
}
.top-title {
	position: absolute;
	top:0;
	left:55px;
	text-align:center;
	h2 {
		color:$color-blue;
		margin-top:20px;
	}
} */


.page-description {
	padding-top:400px;
	text-align: center;
	ul{
		list-style: none;
		padding-left:0;
		li{
			color: $color-blue;
			font-size:$font-size * 1.5;
		}
	}
}

.scheme-1st-party {
	width: ($container-width/3);
	padding-left:$container-width/4.5;
	margin: 0 auto;
	display:block;
	float:left;
	.icon-first {
		svg{
			width:120px;
			margin-left:50px;
		}
	}
	.icon-second {
		margin-left:75px;
		position:relative;
		.number-col {
			margin-top:0;
			span {
				font-size:$font-size/1.16667;
				line-height:$font-size;
			}
		}
	}
	.icon-third {
		position:absolute;
		top:505px;
		z-index:9;
		svg{
			width:130px;
			margin-left:53px;
		}
	}
}
.desc-1st-party, .scheme-3rd-party {
	width:$container-width/3*2;
	display:block;
	float:left;
}
.desc-1st-party {
	padding-left:$container-width/12;	
}
.desc-3rd-party {
	width: $container-width/3;
	float:left;
}
@media screen and(max-width:1280px) {
	.scheme-1st-party, .desc-3rd-party{
		width:$break-point1/3;
	}
	.desc-1st-party, .scheme-3rd-party {
		width:$break-point1/3*2;
	}
}
@media screen and(max-width:980px) {
	.scheme-1st-party, .desc-3rd-party {
		width:$break-point2/3;
	}
	.desc-1st-party, .scheme-3rd-party {
		width:$break-point2/3*2;
	}
}

/* .top-on-bottom {
	.top-background {
		position: absolute;
		right:0;
		top:$page-height - 160px;
	}
	.top-title {
		left:inherit;
		right:90px;
		h2{
			color:#fff;
			margin-top:30px;
		}
	}
}
.top-background {
	svg {
		width: 50%;
		height:160px;
	}
} */
.full-background {
	min-width:100%;
	height: $page-height;
	clear:both;
	position: absolute;
	z-index:-1;
	&.blue {
		background-color: $color-blue;
	}
	&.yellow {
		background-color: $color-yellow;
	}
}

.top, .top-on-bottom {
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 160px 480px 0 120px;
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	z-index:5;
	.top-title {
		position:absolute;
		width:300px;
		text-align: center;
		top:0;
		left:0;
		margin-top:-150px;
		margin-left:-75px;
	}
	&.gray {
		border-color: $color-gray transparent transparent;
		h2 {
			color:$color-blue;
		}
	}
	&.blue {
		border-color: $color-blue transparent transparent;
		h2 {
			color:$color-white;
		}
	}
	&.white {
		border-color: $color-white transparent transparent;
		h2 {
			color:$color-blue;
		}
	}
	&.yellow {
		border-color: $color-yellow transparent transparent;
		h2 {
			color:$color-white;
		}
	}
}
.top {
	left:0;
	top:0;
}
.top-on-bottom {
	@include rotate(180deg);
	margin-top:-160px;
	bottom:0;
	right:0;
	.top-title {
		@include rotate(180deg);
		margin-top:-160px;
		margin-left:-100px;
	}
}
.top-border {
	margin-left:-8px;
}
#slide4, #slide10  {
	.top-title {
		margin-left: -110px;
	}
}
#slide4 .main-container img{
	width:666px;
	margin-top:25px;
}
#slide5 {
	.main-container {
		padding-top:220px;
	}
	.icon{
		text-align:center;
		height:150px;
		svg{
			width:150px;
		}
	}
	#Layer_4 {
		margin-top:15px;
	}
}
#slide6{
	.top-title {
		margin-left: -120px;
	}
	.icon {
		margin-top:70px;
		text-align:center;
		height:150px;
		svg {
			height:150px;
		}
	}
}
#slide7 {
	.top-title {
		margin-left: -90px;
		h2 {
			color:$color-yellow;
		}
	}
	#user-scheme {
		position:relative;
		top:30px;
		width:900px;
		margin:0 auto;
		display:block;
		.circle {
			position:absolute;
			border: 7px solid #fff;
			border-radius:50%;
			background-color:$color-yellow;
			z-index:2;
			cursor: default;
			@include transition-ease-in-out (0.7s);
			&.main {
				width:200px;
				height:200px;
				left:50%;
				margin-left:-100px;
				top:100px;
				background-color: $color-yellow;
				z-index:9;
				svg {
					width: 150px;
					padding-top:60px;
					display: block;
					margin:0 auto;
				}
			}
			&.chover {
				color: $color-yellow;
				background-color: $color-white;
			}
			.icon-desc {
				font-size: 2rem;
				color:$color-white;
				text-align:center;
				padding-top:40px;
				&.number {
					display:none;
					color: $color-yellow;
					font-size:4rem;
					position:absolute;
					text-align:center;
					width:100%;
					top:22px;
				}
			}
			&.first, &.fourth {
				width:150px;
				height:150px;
			}
			&.second, &.third, &.fifth, &.sixth {
				width:120px;
				height:120px;
			}
			&.first {
				top:180px;
				left:20px;
				.icon-desc {
					padding-top:50px;
				}
				&:hover {
					margin-left: -20px;
				}
			}
			&.second {
				left:260px;
				&:hover {
					margin-top: -15px;
					margin-left: -15px;
				}
			}
			&.third {
				left:600px;
				top:-10px;
				.icon-desc {
					padding-top:23px;
				}
				&:hover {
					margin-top: -15px;
					margin-left: +15px;
				}
			}
			&.fourth {
				left:700px;
				top:95px;
				&:hover {
					margin-left: +20px;
				}
			}
			&.fifth {
				left:570px;
				top:250px;
				&:hover {
					margin-top: +15px;
					margin-left: +15px;
				}
			}
			&.sixth {
				left:260px;
				top:290px;
				&:hover {
					margin-top: +15px;
					margin-left: -15px;
				}
			}
		}
		.line {
			border-top:3px dashed #fff;
			position:absolute;
			&.first {
				width:600px;
				top:210px;
				left:150px;
				@include rotate(-8deg);
			}
			&.second {
				width:400px;
				@include rotate(40deg);
				left:290px;
				top:200px;
			}
			&.third {
				width:400px;
				@include rotate(140deg);
				left:290px;
				top:200px;
			}
		}
	}
}
#arrows {
	.arrow {
		width:70px;
		height:70px;
		border-radius:50%;
		background-color: $color-gray;
		cursor:pointer;
		position:absolute;
		svg {
			width:60px;
			display: block;
			margin:0 auto;
			padding-top:15px;
		}
		&.left {
			top:($page-height/2)-($page-height/10);
			left:30px;
		}
		&.right {
			top:($page-height/2)-($page-height/10);
			right:60px;
		}
	}
}
.dots {
	position:absolute;
	left:50%;
	width:300px;
	margin-left:-150px;
	bottom:50px;
	text-align: center;
	ul{
		padding:0;
		li{
			width:16px;
			height:16px;
			@include border-radius(50%);
			display: inline-block;
			background-color: $color-gray;
			margin:0 5px;
			cursor: pointer;
			&.active {
				background-color: $color-blue;
			}
		}
	}
}
#slideshow {
	overflow:hidden;
	#sliders {
		width:$container-width*3;
		.slider {
			height:500px;
			width:$container-width;
			display: table-cell;
			vertical-align:middle;
			float:left;
			padding-top:100px;
			.logo {
				text-align: center;
				width:$container-width/3;
				img{
					width:200px;
				}
			}
			.articles {
				width:$container-width/3*2;
			}
		}
	}
	@media screen and(max-width:1280px) {
		.slider {
			width:$break-point1;
		}
	}
	@media screen and(max-width:980px) {
		.slider {
			width:$break-point2;
		}
	}
}
#slide11 {
	.top-title {
		text-align:left;
		font-size: $font-size/1.3333;
		width:200px;
		line-height:$font-size/1.08333;
	}
}

#map-canvas {
	position: relative;
	height: 100%;
	margin: 0px;
	padding: 0px
}
#contact {
	position: absolute;
	top:0;
	right:0;
	width:45%;
	height:100%;
	background-color:rgba(255, 255, 255, 0.8);
	img {
		margin:30px auto 0;
		display: block;
		width:250px;
	}
	#contactForm {
		margin: 20px 10%;
		input, textarea {
			width: 90%;
			display: block;
			margin: 7px 0;
			border: 1px solid $color-yellow;
			padding:3px;
		}
		textarea {
			height: 120px;
		}
	}
}

.main-container {
	width : $container-width;
	margin:0 auto;
	display: block;
	padding-top:180px;
}
@media screen and(max-width:1280px) {
	.main-container {
		width:$break-point1;
	}
}
@media screen and(max-width:980px) {
	.main-container {
		width:$break-point2;
	}
}
.text-blue {
	color: $color-blue;
}
.text-white {
	color: $color-white;
}
.text-center {
	text-align: center;
}
.text-arrow {
	text-align: center;
	line-height:8px;
}
#slide9 {
	.left {
		padding-top:180px;
		width:50%;
		@include bgstripes;
		height:100%;
		float:left;
		padding-left:90px;
		.circle {
			width:250px;
			height:250px;
			border-radius:50%;
			overflow: hidden;
			img {
				width:250px;
			}
		}
		.left-text {
			width:300px;
			h3{
				line-height: $font-size*2;
			}
		}
	}
	.center {
		background-color: $color-white;
		padding-top: 100px;
		width:20%;
		@include skewX(14deg);
		height:100%;
		float:left;
		margin-left:-100px;
		border-right: 1px dashed #000;
		ul {
			@include skewX(-14deg);
			list-style: none;
			padding-left:0;
			li {
				margin: 70px auto;
				img {
					width:60%;
				}
				&:nth-child(2) img{
					margin-left:25px;
				}
				&:nth-child(3) img{
					margin-left:55px;
				}
				&:nth-child(4) img{
					margin-left:70px;
					width:80%;
				}
			}
		}
	}
	.right {
		padding-top:80px;
		float:left;
		ul {
			list-style: none;
			padding-left:0;
			li {
				padding: 30px 0;
				.icon {
					float:left;
					margin-right:10px;
					img {
						width:90px;
					}
				}
				.number {
					font-size: $font-size*2;
					display: block;
					line-height:$font-size*2;
				}
				&:nth-child(2){
					margin-left:30px;
				}
				&:nth-child(3){
					margin-left:60px;
					.icon img {
						width:95px;
					}
				}
				&:nth-child(4){
					margin-left:90px;
					.icon img {
						width:107px;
					}
				}
				&:nth-child(5){
					margin-left:120px;
					.icon img {
						width:105px;
					}
				}
			}
		}
	}
}
.full-size-container {
	width:100%;
	height: $page-height;
}
#isotop {
	padding-top:25px;
	.item {  
		background-color:#fff;
		height:150px;
		border: 1px dashed #000;
		display:block;
		float:left;
		img {
			width:200px;
		}
		&.w1 img{
			width:250px;
		}
		&.w2 img{
			width:300px;
		}
		&.red {
			background-color:#ed2c22;
		}
		&.blue {
			background-color:$color-blue;
		}
		&.navy-blue {
			background-color:#060fbc;
		}
	}
	#morePartners {
		border: 1px dashed #000;
		text-align: center;
		font-size: 3rem;
		width:100%;
		display:inline-block;
		padding:10px 0;
		cursor:pointer;
	}
}
#sprocket {
	img{
		width:75px;
		position:absolute;
		left:64px;
		top:58px;
		transition: transform 60s linear;
		-moz-transition: transform 60s linear;
		-webkit-transition: transform 60s linear;
		opacity: 0;
		&.sprocket-rotate {
			@include rotate(14400deg);
			opacity: 1;
		}
	}
}